/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@font-face {
  font-family: "Norse";
  src: url("font/Norse-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* Fastest loading fonts if fonts are unimportant to design */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
} */

#root,
#__next {
  isolation: isolate;
}

/* Style below here */
a {
  color: white;
}

body {
  display: flex;
  background: rgba(190, 190, 190, 0.1);
}

div.logo {
  position: absolute;
  width: 100%;
  top: 17vh;
  display: flex;
  justify-content: center;
  background: rgb(19, 19, 19, 0.6);
  padding: 25px 0;
}
div > img {
  height: 150px;
}

section > p {
  color: white;
  font-size: 14px;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  bottom: 10px;
}
.signup {
  background: white;
  padding: 40px 0;
}
h1 {
  color: white;
  font-family: "Norse", Times, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  font-size: 5rem;
  padding: 25px 0 0 15px;
}
.header {
  padding-bottom: 20px;
  padding-left: 75px;
  padding-right: 20%;
}
section {
  height: 100vh;
  background-image: url("img/GreenLeafPlantPhoto.jpg");
  background-size: cover;
  flex: 1;
  position: relative;
}

main {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: black;
}

/* Form styling */
form {
  padding-left: 75px;
}
.item_group {
  display: flex;
  gap: 40px;
}
.item {
  display: flex;
  flex-direction: column;
}

label {
  font-size: small;
}
input {
  width: 250px;
  margin-bottom: 15px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}
.title {
  padding-bottom: 15px;
}
